@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>About Us</h3>

We are one of the biggest electronics retail store serving millions of people across the nation. blah.blah. blah

<div>
    @Component.Invoke("Simple")
</div>

<br/>

If you want to hear great offers from us <email mailTo="mugil@greatestretailstore.com"></email>