@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<b>This content and below table is coming from partial view</b>
<table border="1">
   <tr>
       <th>Employee No</th>
       <th>Employee Name</th>
   </tr>
    <tr>
        <td>10012</td>
        <td>Jon Skeet</td>
    </tr>
    <tr>
        <td>10013</td>
        <td>Scott Guthrie</td>
    </tr>
</table>